<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.feiniao.mapper.SingleMapper">

    <select id="getSingles" resultType="com.kgc.feiniao.beans.Single">
        select l.slid slid,l.slname slname,r.srname srname,l.sltime sltime
        from single l ,singer r
       where l.slsrid = r.srid
           <if test="single.slaid != null and single.slaid != '' " >
              and l.slaid = #{single.slaid}
           </if>
           <if test="single.slid != null and single.slid != '' and (single.slaid = null or single.slaid != '') " >
             and l.slid = #{single.slid}
           </if>

    </select>


</mapper>